// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html{
  background: black image-url("background.png");
  background-size: cover;
}

.container{
  margin-top: 100px;

  text-align: center;

  align-items: center;
}

#logo{
  position: relative;
}


h2,
h3{
  color: #FFFFFF;
}

h2{
  font-family: gotham medium;
  font-size: 40pt;

  margin-top: 5px;
  padding: 0;
}

h3{
  font-family: gotham medium;
  font-size: 19.5pt;

  margin-top: -50px;
}


#emailInput{
  width: 600px;
  padding: 15px 0 0 0;

  color: white;
  border-top: none;
  border-right: none;
  border-bottom-color: #EE2F33;
  border-left: none;
  background: none;
}

input{
  font-size: 15pt;

  padding-bottom: 5px;

  text-align: center;
}

input-placeholder{
  font-family: gotham book;
  font-size: 30pt;
}

#emailSubmit{
  font-family: gotham book;
  font-size: 15pt;

  width: 200px;
  height: 50px;
  margin-top: 25px;
  margin-bottom: 50px;

  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  background: #EE2F33;
}

::-webkit-input-placeholder{
  font-family: gotham book;
  font-size: 15pt;

  text-align: center;
}
::-webkit-input [type="text"]{
  font-family: gotham book;
  font-size: 30pt;

  text-align: center;
}
